@font-face {
 font-family: "LatoLight";
 src: url("../assets/fonts/Lato-Light.ttf"),
        url("../assets/fonts/Lato-Light.ttf");
}

@font-face {
 font-family: "LatoLightItalic";
 src: url("../assets/fonts/Lato-LightItalic.ttf"),
        url("../assets/fonts/Lato-LightItalic.ttf");
}

@font-face {
 font-family: "LatoBold";
 src: url("../assets/fonts/Lato-Bold.ttf"),
        url("../assets/fonts/Lato-Bold.ttf");
}

@font-face {
 font-family: "PlayfairDisplay";
 src: url("../assets/fonts/PlayfairDisplay-Regular.ttf"),
        url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: sans-serif;
	background-color: white;
	padding: 130px 120px;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.main {
	display: block;
	padding: 140px 120px 120px;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
}

.main__heading {
	margin-bottom: 40px;
	font-family: 'PlayfairDisplay';
	font-size: 50px;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.main__text {
	font-family: 'LatoLight';
	font-size: 20px;
	margin-bottom: 50px;

}
.main__text:nth-of-type(2) {
	margin-bottom: 0;
}

.capital::first-letter {
	font-family: 'PlayfairDisplay';
	font-size: 450%;
	float: left;
    margin-right: 20px;
}

.blockquote {
	display: block;
	font-family: 'LatoLightItalic';
	font-size: 25px;
	margin-bottom: 45px;
}

.blockquote::before {
	content: "\201C";
	font-size: 200%;
	top: 30px;
	margin-right: 30px;
}

.link {
	display: inline-block;
    padding: 25px 70px;
    color: #eaa258;
    border: 1px solid #eaa258;
    font-family: 'LatoBold';
    text-transform: uppercase;
    text-decoration: none;
}

.shadow {
	box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.5);
}