* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 body {
    height: 100%;
    margin: 30px 5px;
 }

.main-header {
	margin: 20px 0;
	text-align: center;
	background-color: #a52a2a;
	color: white;
	font-size: 3em;
}

.main-image {
	width: 100%;
	margin-bottom: 20px ;
}

.main-section {
	margin-bottom: 30px;
}

.section-text {
	margin-bottom: 20px;
	font-size: 1.2em;
}

span, em{
	color: blue;
}

.car{
	display: inline-block;
	border: dashed;
}

.section-cars{
	text-align: center;
	margin-bottom: 20px;
}

footer{
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: black;
}