@font-face {
	font-family: "Pacifico";
src: url("../assets/fonts/Pacifico-Regular.ttf"),
	url("../assets/fonts/Pacifico-Regular.ttf");
}

@font-face {
	font-family: "RalewayBold";
src: url("../assets/fonts/Raleway-Bold.ttf"),
	url("../assets/fonts/Raleway-Bold.ttf");
}

@font-face {
	font-family: "RalewayLight";
src: url("../assets/fonts/Raleway-Light.ttf"),
	url("../assets/fonts/Raleway-Light.ttf");
}

@font-face {
	font-family: "RalewayMedium";
src: url("../assets/fonts/Raleway-Medium.ttf"),
	url("../assets/fonts/Raleway-Medium.ttf");
}

@import "vars";

@import "common";
@import "info";
@import "about";

@import "sprite";

