* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand";
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	background: url("../img/bg.png");
	width: 100%;
	max-width: 400px;
	min-height: 494px;
	margin: 0 auto;
	// display: flex;
	// justify-content: center;
	padding: 50px 70px 55px;
}

ul {
	list-style: none;
	li {
		a {
			display: inline-flex;
			text-decoration: none;
		}
	}
}