.form-nav {
	display: flex;
	
	&__list {
		display: flex;
		margin-bottom: 50px;
	}

	&__item:not(:last-child) {
		margin-right: 25px;
	}

	&__link {
		border-bottom: 2px solid transparent;
		padding: 4px 0;

		&:hover {
			color: $text-color;
			border-bottom: 2px solid $hover;
		}

		&:active {
			color: $hover;
		}


	}


}