@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
// COLORS
$dark-blue: #111a28;
$light-blue: #1f273f;
$grey: #7e838b;
$yellow: #f7bf16;
$aqua: #29e3ea;
$red: #ed3333;
$light: #e1e1e1;
$dark: #4a505a;
$white: #fff;
//FONTS
$main-font: 'Lato', sans-serif;