* {	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #121116;
    color: white;
}

.footer {
	padding: 100px 0 20px;
	text-align: center;
}

.logo {
	margin-bottom: 50px;
}

.logo_link {
	display: inline-block;
}

.heading {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.heading::after {
	content: "";
	display: inline-block;
	width: 230px;
	border-top: 1px solid white;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.navigation {
	margin-bottom: 80px;
}

.navigation li {
	display: inline-block;
}

.nav-icon:not(:last-child) {
	margin-right: 20px;
}

.nav-icon__img {
	display: block;
	border: 1px solid transparent;
	border-radius: 50%;
	padding: 2px;
}

.nav-icon__img:hover {
	border: 1px solid #00c8fe;
    border-radius: 50%;
}

.copyright {
	font-size: 18px;
	text-transform: capitalize;
	margin: 0;
}

.text_blue {
	color: #00c8fe;
}