.sh-about {

	&__carousel {
		display: flex;
	}

}

.side {
	flex-basis: 50%;
}

.img-wrapper {
	position: relative;
	width: 100%;
	max-width: 390px;
	margin-bottom: 40px;

	@include padding-hack(485px);

	&::before {
		content: "";
		width: 100%;
		width: 470px;
		height: 410px;
		position: absolute;
		background-color: $grey-bg;
		z-index: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}