* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: $main-font;
    color: $grey-text;
    font-size: 100%;
    background-color: $white;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.highlighter {
	display: inline-block;
	background-color: rgba($corp-cyan, .7);
	padding: 0 10px;
}

.sh-title {
	width: 100%;
	text-transform: uppercase;
	text-shadow: 0 0 5px rgba($text-dark, .1);
	font-weight: 700;
	font-family: $title-font;
	text-align: center;
	color: $text-dark;
	font-size: px_to_em(45px);

}


.sh-section {
	padding: px_to_em(100px) 0;

		&__title {
		font-family: $title-font;
		font-weight: 700;
		font-size: px_to_em(38px);
		text-align: center;
		text-transform: uppercase;
		}

		&__subtitle {
	
		}
}