$header-height: 32px;
$pt: 60px;

.sh-wrapper {

	&-outer {
		min-height: calc(100vh - #{$header-height + $pt});
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&-inner {
		display: flex;
		flex-direction: column;

		&.top {
			flex-grow: 2;
			justify-content: center;
		}

		&.bottom {
			flex-grow: 1;
		}
	}

}

.sh-first-screen {
	min-height: 100vh;
	padding-top: $pt;
	background-color: $grey-bg;
	background-image: none;

	@include xl-screen {
		background-image: url("../img/glass.png");
		background-repeat: no-repeat;
		background-position: 78% 85%;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-height: $header-height;
	}

	&__anchor {
		font-size: px_to_em(18px);
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $title-font;
		font-weight: 400;
		display: flex;
		justify-content: center;
		padding: 5px 0;
		border: 2px solid currentcolor;
		border-radius: 2px;
		width: 100%;
		min-width: 230px;
		letter-spacing: 2px;
		transition: $transition;

		&:hover {
			background-color: $corp-cyan;
		}
	}
}

.sh-logo {
	display: flex;
	align-items: baseline;
	text-decoration: none;
	text-transform: uppercase;
	color: $text-dark;
	font-weight: 700;
	font-family: $title-font;
	font-size: 1.1rem;
	line-height: 1.1;
	padding: 2px 5px;
	border: 1px solid $grey-border;
	box-shadow: 0 0 0 5px $dark-grey-border;

	&__span {
		color: $corp-cyan;
		font-size: 1.5rem;
		text-shadow: 0 0 1px $text-dark;
	}
}

.sh-navigation {

	&__btn {
		font-size: px_to_rem(21px);
		cursor: pointer;

		.fa-times {
			display: none;
		}

		.fa-bars {
			display: block;
		}

		&.active {
			.fa-times {
				display: block;
			}
			.fa-bars {
				display: none;
			}
		}
	}

}

