.sh-footer {
	background-color: $footer-bg!important;
	text-align: center;
	padding: 80px 0;

	&__title {
		@extend .t-upper;
		font-size: px_to_rem(20px);
		margin-bottom: 1rem;
	}

	&__social {
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
	}

	&__social-item:not(:last-child) {
		margin-right: 7px;
	}

	&__social-link {
		@include square(40px);
		justify-content: center;
		align-items: center;
		background-color: lighten($footer-bg, 15%);
		font-size: 1.4rem;
		color: $white;
		transition: $transition;

		&:hover {
			background-color: $cyan-light;
			color: invert($white);
			font-size: 1.6rem;
		}
	}
}