// colors
$corp-cyan: #b2f2ee;
$cyan-light: #71f5ea;
$almost-black: #0c0c0c;
$yellow: #f2da3b;
$footer-bg: #262b2e;
$text-dark: #505050;
$light-grey: #eaebed;
$grey-bg: #eff0f2;
$light-grey-bg: #f8fafa;
$grey-text: #7e7e7e;
$grey-bullets: #d0d0d0;
$grey-border: #7c7880;
$dark-grey-border: #170f1c;
$black: #000;
$white: #fff;

//fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700|Raleway&display=swap');

$main-font: 'Raleway', sans-serif;
$title-font: 'Montserrat', sans-serif;
$subtitle-font: 'Merriweather', serif;

$base-size: 16px;

$transition: all .3s ease;