

$grey-bg: #eff0f2;
$light-grey-bg: #f8fafa;
$corp-cyan: #b2f2ee;
$text-dark: #505050;
$footer-bg: #262b2e;
$light-grey: #eaebed;
$almost-black: #0c0c0c;
$grey-text: #7e7e7e;
$yellow: #f2da3b;
$grey-bullets: #d0d0d0;
$black: #000;
$white: #fff;
$grey-border: #7c7880;
$dark-grey-border: #17001c;

//fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700%7CMontserrat:400,700%7CRaleway&display=swap');

$main-font: 'Raleway', sans-serif;
$title-font: 'Montserrat', sans-serif;
$subtitle-font: 'Merriweather', serif;

$base-size: 16px;