*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 100%;
	font-family: sans-serif;
	color: black;
	padding-top: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-transform: capitalize;
}
::-moz-placeholder { /* Firefox 19+ */
  text-transform: capitalize;
}
:-ms-input-placeholder { /* IE 10+ */
  text-transform: capitalize;
}
:-moz-placeholder { /* Firefox 18- */
  text-transform: capitalize;
}

html,body{
	height: 100%
}
.reg-form{
	min-width: 290px;
	max-width: 500px;
	margin: 0 auto;
	border: 2px solid #000;
	border-radius: 7px;
	padding: 20px;

}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.reg-form__label,
.reg-form__input {
	display: block;
}

.reg-form__input{
	padding: 15px;
	border-radius: 5px;
	border: 1px solid black;
}

.pass_span {
	display: block;
	margin-bottom: 10px;
}

.reg-form__label {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
}

.reg-form__input:not([type="submit"]){
	width: 100%;
}

.reg-form__input[type="submit"] {
	width: 50%;
	margin: 0 auto;
	text-transform: uppercase;
	font-weight: bold;
}

.reg-form__label:nth-last-child(2){
	font-size: .5rem;
	display: flex;
	align-items: center;
}

[type="checkbox"]{
	margin-right: 1rem;
}

.blue-text{
	color: blue;
	

}

/*li{
	display: inline-block;
}

a {
	display: inline-block;
	width: 100%;
	max-width: 200px;
	min-width: 200px;
	text-align: center;
	border: 10px solid yellow;
	border-radius: 5px;
	background-color: yellow;
	padding-top: 25px;
	padding-bottom: 25px;
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;
	color: #000;
	box-shadow: 2px 2px 17px black;
	transition: all .3s ease;
}

a:hover{
	background-color: orange;
	color: red;
	border-color: currentcolor;
}

ul{
	display: inline-block;	
}

nav{
	text-align: center;
	padding-top: 1rem;
}*/

