@font-face {
 font-family: "Regular";
 src: url("../assets/fonts/ProximaNovaRegular.otf"),
        url("../assets/fonts/ProximaNovaRegular.otf");
}

@font-face {
 font-family: "Thin";
 src: url("../assets/fonts/ProximaNovaThin.otf"),
        url("../assets/fonts/ProximaNovaThin.otf");
}

@font-face {
 font-family: "PlayfairDisplay";
 src: url("../assets/fonts/PlayfairDisplay-Regular.ttf"),
        url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: sans-serif;
	background-color: #464f54;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.main-section {
	padding-top: 150px;
}

.header {
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    top: 45px;
    z-index: 1;
}

.header-search {
	padding: 40px 0 50px 60px;
	background-color: #181818;
	width: 880px;
}

.header-search__title {
	text-transform: uppercase;
	color: #777777;
	font-family: 'Thin';
	font-size: .9em;
	letter-spacing: .5em;
	margin-bottom: 5px;

}

.header-search__main {
	font-family: 'PlayfairDisplay';
	text-transform: capitalize;
	color: white;
	font-size: 45px;
	font-weight: 400;
}

.header-search__main::after {
	content: "|";
	color: #afb1b3;
}

.navigation {
	background-color: #f2b92b;
	padding: 20px 0 20px 40px;
	width: 810px;
}

.nav-list__item {
	display: inline-block;
	margin-right: 20px;
}

.main-text {
	position: relative;
	background-color: white;
	padding: 200px 120px 35px;
}

.main-text::before {
	content: "";
    display: block;
    border: 1px solid #b5b5b5;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 75px;
}

.main-text__author-date {
	text-transform: uppercase;
	color: #bababa;
	font-family: 'Thin';
	letter-spacing: 5px;
	margin-bottom: 45px;
}

.main-text__title {
	font-family: 'Regular';
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 75px;
}

.main-text__thesis {
	color: #b5b5b5;
	font-family: Georgia;
	font-size: 30px;
	margin-bottom: 35px;
}

.text {
	color: black;
	font-family: Georgia;
	font-size: 30px;
	text-align: justify;
}

.text:not(:last-child) {
	margin-bottom: 40px;
}
