.dl-first-screen {
	background-image: url(../img/hero-bg.jpg);
	background-size: cover;
}

.fs-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	padding: 50px 0;
}

.fs-inner {
	width: 100%;
	max-width: 590px;
	margin: 0 auto;
	color: $text-white;
	text-align: center;
	font-family: $text-title;
	text-transform: uppercase;

	&__title {
		font-size: $fs-title-size;
		letter-spacing: .5rem;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__text {
		font-size: $base-size;
		letter-spacing: 1px;
		line-height: 1.6rem;
		font-weight: 400;
	}
}