.dl-galery {
		
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		min-height: 480px;
	}

	&__link {
		width: 100%;
		min-height: 235px;
		align-items: flex-end;	

		&:hover {
			box-shadow: 0 0 5px $submit;
			opacity: .9;
			transition: $transition;
			text-shadow: 2px 2px 4px $text-dark; 
		}
	}

	&__title {		
		font-family: $text-title;
		font-size: $subtitle-size;
		color: $text-white;
		letter-spacing: 5px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 15px;
	}
}

.size50 {
	min-width: 50%;
 }

.size25 {
	min-width: 24%;
 }

 .topworks {
	background-image: url(../img/topworks.png);
	background-size: cover;
 }

 .join {
	background-image: url(../img/join.png);
	background-size: cover;
 }

 .market {
	background-image: url(../img/market.png);
	background-size: cover;
 }

 .worktop {
	background-image: url(../img/worktop.png);
	background-size: cover;
 }

 .lable {
	background-image: url(../img/lable.png);
	background-size: cover;
 }

 .kyiv {
 	background-image: url(../img/kyiv.png);
	background-size: cover;
 }