.dl-galery {

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		width: 100%;
		max-width: 235px;
	}

	&__link {
		@include padding-hack(235px) {
			overflow: hidden;
			border: 2px solid transparent;
		}
	}

	&__title {
		font-family: $text-title;
		font-size: $subtitle-size;
		color: $text-white;
		letter-spacing: 5px;
		font-weight: 700;
		text-transform: uppercase;
		position: absolute;
		padding: 0 0 30px 30px;
	}
}
.size50 {
	width: 100%;
	min-width: 50%;
 }
.size25 {
	width: 100%;
	min-width: 25%;
 }