.dl-galery {

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: space-between;
		min-height: 1450px;

		@include sm-screen {
			flex-direction: row;
			flex-wrap: wrap;
			min-height: 725px;
		}

		@include md-screen {
			flex-direction: row;
			flex-wrap: wrap;
			min-height: 480px;
		}
	}

	&__link {
		width: 100%;
		min-height: 235px;
		align-items: flex-end;
		position: relative;	

		@include sm-screen {
			width: 100%;
			min-width: 50%;
		}

		&:hover {
			box-shadow: 0 0 5px $submit;
			opacity: .9;
			transition: $transition;
			text-shadow: 2px 2px 4px $text-dark;
		}
	}

	&__title {
		font-family: $text-title;
		font-size: px_to_em($subtitle-size);
		color: $text-white;
		letter-spacing: 5px;
		font-weight: 700;
		text-transform: uppercase;
		position: absolute;
		bottom: 15px;
		left: 15px;
	}
}

.size50 {
	@include xs-screen {
		min-width: 100%;
	}

	@include sm-screen {
		min-width: 49%;
	}

	@include md-screen {
		min-width: 50%;
	}
}

.size25 {
	@include xs-screen {
		width: 100%;
	}

	@include sm-screen {
		min-width: 49%;
	}

	@include md-screen {
		min-width: 24%;
	}
}

.topworks {
	background-image: url(../img/topworks.jpg);
	background-size: cover;
}

.joint {
	background-image: url(../img/joint.jpg);
	background-size: cover;
}

.market {
	background-image: url(../img/market.jpg);
	background-size: cover;
}

.worktop {
	background-image: url(../img/worktop.jpg);
	background-size: cover;
}

.lable {
	background-image: url(../img/lable.jpg);
	background-size: cover;
}

.kyiv {
 	background-image: url(../img/kyiv.jpg);
	background-size: cover;
}