//fonts
$text-title: 'LatoBold', sans-serif;
$text-subtitle : 'LatoRegular', sans-serif;
$text: 'LatoLight', sans-serif;

//colors
$text-dark: #3c3c3c;
$text-white: #fff;
$submit: #3c3c3c;
$border-color: #3c3c3c;

$transition: all .3s ease;

$base-size: 15px;
$title-size: 30px;
$subtitle-size: 20px;